body {
  font-family: "Oswald", sans-serif;
  color: #333;
  background-color: #f8f8f8;
}

h3 {
  font-size: 42px;
  text-transform: uppercase;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav-link {
  color: #b4945c;
  margin-right: 1rem;
  margin-left: 1rem;
}

.nav-link:hover {
  color: #664e4c;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-logo {
  width: 70px;
  height: auto;
}

.order-btn {
  padding: 10px 30px;
  border: 1px solid #b4945c;
  color: #b4945c;
  border-radius: 5px;
  text-decoration: none;
}

.order-btn:hover {
  background-color: #b4945c;
  color: white;
  text-decoration: none;
}

.ice-cream-container {
  position: relative;
  text-align: center;
}

.ice-cream-heading {
  position: absolute;
  top: 50%;
  color: #b4945c; /* Assuming you want the text in white to stand out over the image */
  z-index: 2; /* Ensures the heading is above the image */
  width: 100%; /* Ensures the text is centered within the container */
  font-size: 70px;
}

.ice-cream-image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1; /* Ensures the image stays behind the text */
}

.top-bar {
  background-color: #b4945c; /* Adjust the color to match your design */
  color: white;
}

.top-bar .top-bar-contact,
.top-bar .top-bar-social {
  display: flex;
  align-items: center;
  color: white;
}

.top-bar .top-bar-social a {
  color: white;
  text-decoration: none;
}

.top-bar .top-bar-social a:hover {
  color: #664e4c; /* Slightly darken the icon on hover */
}

.top-bar-container {
  padding: 7px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  background-color: #b4945c; /* Adjust the color to match your design */
}
.carousel-item {
  height: 873px;
  background-color: #000; /* Fallback color */
}
.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 873px;
  width: 100%;
  object-fit: cover;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}
.carousel-caption h5 {
  color: #b4945c;
  font-size: 70px;
}

.flavors-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f2ef; /* Light peach background, adjust as needed */
}

.flavors-menu {
  flex-basis: 50%;
  padding: 70px;
}

.flavors-image {
  flex-basis: 50%;
  text-align: center;
}

.flavors-menu h2 {
  font-size: 15px;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  color: #b5bbc2;
  font-family: "Bacana", sans-serif;
}

.flavors-menu:hover h2 {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.flavor-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.flavor-item p {
  margin-bottom: 0;
  text-transform: uppercase;
}

.view-more {
  text-align: center;
  margin-top: 30px;
}

.flavor-container {
  padding: 40px;
}

.quote-section {
  background: #e2dfd2; /* Adjust the color to match the screenshot */
  padding: 195px 0; /* Adjust the padding to match the spacing in the screenshot */
  color: #333; /* Adjust the color to match the text color in the screenshot */
  font-family: "Open Sans", sans-serif; /* Change to the font used in the screenshot */
}

.quote-section .container {
  max-width: 600px; /* Adjust the width as needed */
  margin: auto;
}

blockquote {
  font-size: 32px; /* Adjust the size to match the screenshot */
  line-height: 1.6; /* Adjust the line height to match the layout */
  margin: 0 0 20px; /* Adjust the margin to match the spacing */
  font-weight: bold;
}

cite {
  display: block; /* Ensures that the citation appears on a new line */
  font-size: 22px; /* Adjust the size to match the screenshot */
  margin-top: 3rem; /* Adjust the spacing as needed */
  font-family: "Bacana", sans-serif; /* Change to the font used in the screenshot */
}
