body {
  font-family: "Oswald", sans-serif;
  color: #333;
  background-color: white;
  overflow-x: hidden !important;
}

html {
  overflow-x: hidden;
}

h3 {
  font-size: 42px;
  text-transform: uppercase;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav-link {
  color: #b4945c;
  margin-right: 1rem;
  margin-left: 1rem;
}

.nav-link:hover {
  color: #664e4c;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-logo {
  width: 70px;
  height: auto;
}

.order-btn {
  padding: 10px 30px;
  border: 1px solid #b4945c;
  background-color: white;
  color: #b4945c;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.5s ease, color 0.5s ease; /* Adjust the time as needed */
}

.order-btn:hover {
  background-color: #b4945c;
  color: white;
  text-decoration: none;
}

.ice-cream-container {
  position: relative;
  text-align: center;
}

.ice-cream-heading {
  position: absolute;
  top: 50%;
  color: #b4945c; /* Assuming you want the text in white to stand out over the image */
  z-index: 2; /* Ensures the heading is above the image */
  width: 100%; /* Ensures the text is centered within the container */
  font-size: 70px;
}

.ice-cream-image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1; /* Ensures the image stays behind the text */
}

.top-bar {
  background-color: #b4945c; /* Adjust the color to match your design */
  color: white;
}

.top-bar .top-bar-contact,
.top-bar .top-bar-social {
  display: flex;
  align-items: center;
  color: white;
}

.top-bar .top-bar-social a {
  color: white;
  text-decoration: none;
}

.top-bar .top-bar-social a:hover {
  color: #664e4c; /* Slightly darken the icon on hover */
}

.top-bar-container {
  padding: 7px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  background-color: #b4945c; /* Adjust the color to match your design */
}
.carousel-item {
  height: 585px;
  background-color: #f1f2ef;
}

.carousel-item img {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%); /* Centra la imagen horizontalmente */
  max-height: 70vh; /* El 70% del alto de la ventana del navegador */
  width: auto; /* Se ajustará automáticamente al ancho de la ventana */
}

.carousel-caption {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Alinea el texto al centro */
}

@keyframes slideUp {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.carousel-caption h5 {
  color: #333;
  font-size: 70px;
  animation: slideUp 1s ease-in-out;
  text-transform: uppercase;
}

.flavors-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flavors-menu {
  flex-basis: 50%;
  padding: 70px;
}

.flavors-image {
  flex-basis: 50%;
  text-align: center;
}

.flavors-menu h2 {
  font-size: 15px;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  color: #b5bbc2;
  font-family: "Bacana", sans-serif;
}

.flavors-menu:hover h2 {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.flavor-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.flavor-item p {
  margin-bottom: 0;
  text-transform: uppercase;
}

.view-more {
  text-align: center;
  margin-top: 30px;
}

.flavor-container {
  padding: 40px;
}

.quote-section {
  background: #f1f2ef; /* Adjust the color to match the screenshot */
  padding: 195px 0; /* Adjust the padding to match the spacing in the screenshot */
  color: #333; /* Adjust the color to match the text color in the screenshot */
}

.quote-section .container {
  max-width: 600px; /* Adjust the width as needed */
  margin: auto;
}

blockquote {
  font-size: 32px; /* Adjust the size to match the screenshot */
  line-height: 1.6; /* Adjust the line height to match the layout */
  margin: 0 0 20px; /* Adjust the margin to match the spacing */
  font-weight: bold;
}

cite {
  display: block; /* Ensures that the citation appears on a new line */
  font-size: 22px; /* Adjust the size to match the screenshot */
  margin-top: 3rem; /* Adjust the spacing as needed */
  font-family: "Bacana", sans-serif; /* Change to the font used in the screenshot */
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #b4945c;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #b4945c;
}

#events {
  background: #f1f2ef; /* Adjust the color to match the screenshot */
  padding: 195px 0; /* Adjust the padding to match the spacing in the screenshot */
  color: #333; /* Adjust the color to match the text color in the screenshot */
  font-family: "Open Sans", sans-serif; /* Change to the font used in the screenshot */
}

#events h2 {
  font-size: 15px;
  margin-bottom: 10px;

  color: #b5bbc2;
  font-family: "Bacana", sans-serif;
}

#events .card {
  background-color: transparent;
  border: none;
}

.footer {
  padding: 100px 0;
}

.footer-logo {
  color: #333;
  margin-bottom: 20px;
  width: 100px;
  height: auto;
}

.footer-text {
  color: #666;
  margin-bottom: 30px;
}

.footer-social {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.footer-social li {
  display: inline;
  margin: 0 10px;
}

.footer-social i {
  color: #b4945c;
}

.footer-bottom {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.footer-bottom span {
  color: #666;
  margin-bottom: 3rem;
  font-size: 15px;
}

.footer-nav {
  list-style: none;
  padding: 0;
  padding-top: 2rem;
}

.footer-nav li {
  display: inline;
  margin-right: 20px;
}

.footer-nav a {
  color: #333;

  text-decoration: none;
}

@media (max-width: 576px) {
  .footer-newsletter input,
  .footer-newsletter button {
    width: 100%;
  }

  .back-to-top {
    float: none;
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #b4945c;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #b4945c;
}

.footer {
  padding: 100px 0;
}

.footer-logo {
  color: #333;
  margin-bottom: 20px;
  width: 100px;
  height: auto;
}

.footer-text {
  color: #666;
  margin-bottom: 30px;
}

.footer-social {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.footer-social li {
  display: inline;
  margin: 0 10px;
}

.footer-social i {
  color: #b4945c;
}

.footer-bottom {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.footer-bottom span {
  color: #666;
  margin-bottom: 3rem;
  font-size: 15px;
}

.footer-nav {
  list-style: none;
  padding: 0;
  padding-top: 2rem;
}

.footer-nav li {
  display: inline;
  margin-right: 20px;
}

.footer-nav a {
  color: #333;

  text-decoration: none;
}

@media (max-width: 576px) {
  .footer-newsletter input,
  .footer-newsletter button {
    width: 100%;
  }

  .back-to-top {
    float: none;
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

.brand-carousel img {
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}

.single-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 720px;
}

.single-logo p {
  color: white;
  font-family: "Oswald", sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
}

.brand-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b4945c;
  height: 720px;
}

/* about.html */

.banner {
  color: #333;
  text-align: left;
  padding: 150px 0; /* Adjust the padding to match the banner size in the image */
  background-color: #ffffff;
  text-transform: uppercase;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'%3E%3Cg stroke='%23E2DFD2' stroke-width='0' %3E%3Crect fill='%23F1F2EF' x='-60' y='-60' width='100' height='240'/%3E%3C/g%3E%3C/svg%3E");
}

.banner h1 {
  font-size: 4rem; /* Adjust the size as needed */
  margin-bottom: 0;
  font-weight: bold;
}

.banner .few-words {
  font-size: 1rem; /* Adjust the size as needed */
  margin-bottom: 20px;
  font-family: "Bacana", sans-serif; /* Change to the font used in the screenshot */
}

.ice-cream-section {
  background-color: #ffffff;
  color: #333;
}

.ice-cream-image2 {
  background-size: cover; /* Cover the entire div without stretching the image */
  background-position: center; /* Center the background image */
  min-height: 400px; /* Minimum height to ensure visibility on smaller screens */
}

@media (max-width: 768px) {
  .ice-cream-image2 {
    min-height: 150px; /* Adjust based on your design needs */
    background-size: cover;
    background-position: center;
  }
}

.ice-cream-image-edited {
  background-size: cover; /* Cover the entire div without stretching the image */
  background-position: center; /* Center the background image */
  min-height: 720px; /* Minimum height to ensure visibility on smaller screens */
}

@media (max-width: 768px) {
  .ice-cream-image-edited {
    min-height: 500px; /* Adjust based on your design needs */
    background-size: cover;
    background-position: center;
  }
}

.title {
  font-size: 3rem; /* Adjust based on actual size needed */
  font-weight: bold;
  margin-bottom: 20px;
  color: #b4945c;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1rem; /* Adjust based on actual size needed */
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: "Bacana", sans-serif;
  color: #b5bbc2;
}

.gallery-container {
  padding-top: 2rem;
}

/* Optional: Add styles for hover effects or padding between images */
.gallery-container img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.gallery-container img:hover {
  transform: scale(1.05);
}
/* catering.html */

.banner-background {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='165' height='165' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23F1F2EF' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23F1F2EF' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  height: 300px; /* Adjust the height as needed */
}

.banner-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #333; /* Adjust the color as needed */
}

.banner-title {
  font-size: 4rem; /* Adjust the size as needed */
  font-weight: bold;
}

.banner-subtitle {
  font-family: "Bacana", sans-serif;
  font-size: 1rem; /* Adjust the size as needed */
}

.pricing-section-header {
  text-align: center;
  margin-bottom: 5rem;
}

.pricing-deal-tagline {
  font-family: "Bacana", sans-serif; /* Change to the font used in the screenshot */
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
  color: #b5bbc2;
}

.pricing-section-title {
  font-size: 3rem;
  font-weight: bold;
}

.pricing-card-container {
  margin-bottom: 1rem;
}

.pricing-card {
  border: none;
  text-align: center;
}

.pricing-card-header {
  background-color: #b4945c;
  color: white;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.pricing-card-body {
  padding: 1.5rem;
}

.pricing-amount {
  font-size: 3rem;
  margin: 1.5rem 0;
}

.pricing-features {
  text-align: left;
  margin-bottom: 1.5rem;
}

.pricing-read-more {
  padding: 10px 30px;
  border: 1px solid #b4945c;
  background-color: white;
  color: #b4945c;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.5s ease, color 0.5s ease; /* Adjust the time as needed */
  margin-top: 1rem;
}

.pricing-read-more:hover {
  background-color: #b4945c;
  color: white;
  text-decoration: none;
}

/* shop.html */

/* Full screen GIF container with decreased height */
.gif-container {
  height: 50vh; /* or any other value that suits your design */
  overflow: hidden;
  position: relative; /* If you need to absolutely position elements inside */
}

/* Center the GIF in the container if it's not covering the whole area */
.gif-container img {
  object-fit: contain; /* Changed to 'contain' to make sure the whole gif is visible */
  max-height: 100%; /* Set maximum height to 100% of the container */
  width: auto; /* Set width to auto to maintain aspect ratio */
  display: block; /* Display block to remove bottom space */
  margin: auto; /* Auto margins to center it horizontally */
}
